body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.search-booking-by-phone {
	margin-top: 15px;
	margin-left: 15px;
}

.add-button {
	margin-top: 15px;
	margin-right: 15px;
	float: right;
}
.edit-button {
	margin-right: 5px;
}